<head>
<link rel="stylesheet" type="text/css" href="templates/config.css">
</head>

<center>
<div id="wrapper">
<h2>Settings</h2>
<form onsubmit="return app.Submit(event)">

<!-- MODE -->
<fieldset>
  <legend><b>Mode</b>
    <div class="tooltip">(?)
      <span class="tooltiptext">
        <ul>
          <li><b>practice:</b> just display flashcards
          <li><b>test:</b> self-mark your answers to see your progress
      </span>
    </div> :
  </legend>
  <div>
    <input type="radio" id="modePractice"
     name="mode" value="practice" checked="true">
    <label for="modePractice">Practice</label>
  </div>
  <div>
    <input type="radio" id="modeTest"
     name="mode" value="test">
    <label for="contactChoice2">Test</label>
  </div>
</fieldset>
<br>

<!-- NUMBER OF CARDS -->
<fieldset>
  <legend><b>Number of cards</b>
    <div class="tooltip">(?)
      <span class="tooltiptext">
        How many cards to include in the practice/test.
      </span>
    </div> :
  </legend>
  <div>
    <input type="radio" id="modePractice"
     name="cards" value="practice" checked="true">
    <label for="contactChoice1">
      First <input type="number" maxlength="2" value="10"> cards</label>
  </div>
  <div>
    <input type="radio" id="modeTest"
     name="cards" value="test">
    <label for="contactChoice2">
      Cards from <input type="number" maxlength="2" value="10">
      to <input type="number" maxlength="2" value="20">
    </label>
  </div>
  <div>
    <input type="radio" id="modeTest"
     name="cards" value="test">
    <label for="contactChoice2">All cards</label>
  </div>
</fieldset>
<br>

<!-- REPEAT -->
<fieldset>
<b>Repeat</b>
<div class="tooltip">(?)
  <span class="tooltiptext">
    How many times to repeat each card.<br><br>
    <b>Example:</b><br>
    If studying 10 cards, repeat=2 will mean that each
    card appears twice, so you will play 20 rounds in total.
  </span>
</div> :
<input type="number" value="1">
</fieldset>
<br>

<!-- HINT CARD -->
<fieldset>
  <legend><b>Hint card</b>
    <div class="tooltip">(?)
      <span class="tooltiptext">
        Which side of the card to show first.<br><br>
        <b>Example:</b><br>
        If studying characters, choose 'character'.<br>
        Then, a character will be shown first, and translation will be<br>
        shown when revealed.
      </span>
    </div> :
  </legend>
  <div id="hintoptions">
    <div>
      <input type="radio" id="o1" checked="true">
      <label for="o1">character</label>
    </div>
    <div>
      <input type="radio" id="o1">
      <label for="o1">pinyin</label>
    </div>
    <div>
      <input type="radio" id="o1">
      <label for="o1">translation</label>
    </div>
  </div>
</fieldset>
<br>

<!-- SUBMIT -->
<hr>
<div>
  <button>Start</button>
</div>
</form>
</div>
</center>
