body {
  background-color: aliceblue;
}
input[type=number] {
  opacity: 1;
  text-align: center;
  width: 3em;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
fieldset {
  border: 0;
  padding: 0;
}
#wrapper {
  text-align: left;
  width: 50%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* underline */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 20em;
  background-color: black;
  color: #fff;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
