<head>
<link rel="stylesheet" type="text/css" href="templates/config.css">
</head>

<center>
<!-- CARD -->
<div id="card">
CARD
</div>
<br>

<div id="buttons">
  <button onclick="app.Next();" id="next-button">reveal/next</button>
</div>
</center>
