<head>
  <link rel='stylesheet' href='../main.css'>
</head>


<script src="/music.js"></script>

Music snippets:

<ul>
  <li>music.js</li>
</ul>

<script>
function test(a, b) {
  console.log(a, b);
  if (a != b) {
    throw new Error(`${a} != ${b}`)
  }
}
test(getNoteFromMidi(21), 'A0');
test(getNoteFromMidi(22), 'A#0');
test(getNoteFromMidi(23), 'B0');
test(getNoteFromMidi(24), 'C1');
test(getNoteFromMidi(36), 'C2');
test(getNoteFromMidi(48), 'C3');
test(getNoteFromMidi(49), 'C#3');

console.log(getMidiFromName('A0'));

console.log(getFreqFromMidi(60));

</script>
