<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<body>
<script src="Sequencer.js"></script>
<script>
    seq = new Sequencer();
</script>

<!-- DISPLAY -->
BPM: <span id="bpm"> 0 </span></br>
Step: <span id="counter"> 0 </span><br>
Length: <span id="counter"> 0 </span><br>
Note: <span id="note"> ? </span><br>
<hr>

<!-- CONTROL -->
Control:<br>
BPM: <input type="number" value="80"/>
<button onclick="seq.Start()">Start</button>
<button onclick="seq.Pause()">Pause</button>
<button onclick="seq.Stop()">Stop</button>
<hr>

<!-- OTHER -->
Getters:<br>
<button onclick="seq.GetBpm()">GetBpm</button>

</body>
