<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<body>
<script src="main.js"></script>

Step: <span id="counter"> 0 </span><br>
Note: <span id="note"> ? </span><br>
BPM: <input type="number" value="80"/>
<hr>

<button onclick="seq.Start()">Start</button>
<button onclick="Pause()">Pause</button>
<button onclick="Stop()">Stop</button>

</body>
