/* COLOURS */
code pre {
  background-color: burlywood;
}
div > div {
  border: 1px solid blue;
  background-color: lightgreen;
}
.wrapper {
  background-color: silver;
}
/* END COLOURS */


/* EXAMPLES */
/* W1 */
.w1 {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.w1 > div {
  flex: 1 1 150px;
}

/* W2 */
.w2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* BOX ALIGNMENT */
/* W3: flexbox */
.w3 {
  display: flex;
  align-items: flex-end;
  min-height: 100px;
}
.w3 >.box1 {
  align-self: stretch;
}
.w3 >.box2 {
  align-self: flex-start;
}

/* W4: grid */
.w4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  grid-auto-rows: 100px;
}
.w4 > .box1 {
  align-self: stretch;
}
.w4 > .box2 {
  align-self: start;
}


/* W5: auto-fill grid tracks */
.w5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
}


/* W6: Flexible number of tracks */
.w6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


/* W7: grid: absolutely positioned elements */
.w7 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 20px;
  position: relative;
}
.w7 > .box3 {
  grid-column: 2/4;
  grid-row: 1/3;
  position: absolute;
  top: 40px;
  left: 60px;
}


/* W8: grid area as the parent */
.w8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 20px;
}
.w8 > .box3 {
  grid-column: 2/4;
  grid-row: 1/3;
  position: relative;
}
.w8 > .box3 > .abspos {
  position: absolute;
  top: 40px;
  left: 40px;
}


/* W9: grid area with nested child elements, without 'display:contents' */
.w9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(80px, auto);
}
.w9 > .box1 {
  grid-column: 1/4;
}


/* W10: nested child elements promoted to grid with 'display:content' */
.w10 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(80px, auto);
}
.w10 > .box1 {
  grid-column: 1/4;
  display: contents;
}
