/* colours */
div > div {
  border: 1px solid blue;
  background-color: lightgreen;
}
.wrapper {
  background-color: silver;
}
code pre {
  background-color: burlywood;
}
/* END COLOURS */


/* rules */
/* W1: basic example */
.w1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
}


/* W2: position by line number */
.w2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
}
.w2 > .box1 {
  grid-column: 1;
  grid-row: 1/4;
}


/* W3: position by line number */
.w3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
}
.w3 > .box1 {
  grid-column: 1;
  grid-row: 1/4;
}
.w3 > .box2 {
  grid-column: 3;
  grid-row: 1/3;
}
.w3 > .box3 {
  grid-column: 2;
  grid-row: 1;
}
.w3 > .box4 {
  grid-column: 2/4;
  grid-row: 3;
}


/* W4: grid-area */
.w4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
}
.w4 > .box1 { grid-area: 1/1/4/2; }
.w4 > .box2 { grid-area: 1/3/3/4; }
.w4 > .box3 { grid-area: 1/2/2/3; }
.w4 > .box4 { grid-area: 3/2/4/4; }


/* W5: counting backwards */
.w5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
}
.w5 > .box1 { grid-area: -1/-1/-4/-2; }
.w5 > .box2 { grid-area: -1/-3/-3/-4; }
.w5 > .box3 { grid-area: -1/-2/-2/-3; }
.w5 > .box4 { grid-area: -3/-2/-4/-4; }


/* W6: stretch */
.w6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
}
.w6 > .box1 {
  grid-column: 1/-1;
}


/* W7: gutters or alleys */
.w7 {
  column-gap: 20px;
  row-gap: 1em;
}


/* W8: The gap shorthand */
.w8 {
  gap: 1em 20px;
}


/* W9: The span keyword */
.w9 > .box1 {
  grid-column: 1;
  grid-row: 1/span 3;
}
.w9 > .box2 {
  grid-column: 3;
  grid-row: 1/span 2;
}
.w9 > .box3 {
  grid-column: 2;
  grid-row: 1;
}
.w9 > .box4 {
  grid-column: 2/span 2;
  grid-row: 3;
}
