.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.header {
  flex: 0 1 auto;
  display: flex;
}
.content {
  flex: 1 1 auto;
}

.btn-settings {
  margin-left: auto;
}


nav {
  visibility: hidden;
}
#btn-menu {
  visibility: visible;
}

@media (min-width: 500px) {
  /* Large screen: hide menu-btn, show navbar */
  #btn-menu {
    visibility: hidden;
  }
  nav {
    visibility: visible;
  }
}


/*#btn-menu {
  visibility: hidden;
}*/


/* COLORS */
.header {
  background-color: yellow;
}
.nav {
  background-color: silver;
}
.content {
  background-color: green;
}
