<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<body>
<script src="js/lib.js"></script>
<script src="js/App.js"></script>
<div id='menu'>HSK1 words
<!-- ADD OWN UPLOAD HERE
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile">
-->
</div>
<div id='stats'></div>
<div id='content'>content</div>

<script>
  app = new App();
</script>
</body>
