code pre {
  background-color: burlywood;
}


/* CENTER */
.boxcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcenter > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
  width: 100px;
  height: 100px;
}


/* ALIGN-ITEMS */
.align-items > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}
.align-items {
  display: flex;
  align-items: stretch;
}


/* ALIGN-SELF */
.align-self > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}
.align-self {
  display: flex;
  align-items: flex-start;
  height: 100px;
  width: 200px;
}
.align-self>*:first-child {
    align-self: stretch;
}
.align-self .selected {
    align-self: center;
}


/* ALIGN-CONTENT */
.align-content > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}
.align-content {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 200px;
  align-content: flex-start;
  border: 1px solid;
}


/* JUSTIFY-CONTENT */
.justify-content > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}
.justify-content {
  display: flex;
  align-content: flex-start;
  border: 1px solid;
  height: 200px;
  width: 50%;
}


/* MARGIN-LEFT */
.margin-left > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}
.margin-left {
  display: flex;
  border: 1px solid;
  width: 50%;
}
.push {
  margin-left: auto;
}


/* GAP */
.gap > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
  flex: 1;
}
.gap {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  width: 20em;
  row-gap: 5px;
  column-gap: 3em;
}
