div > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}


.width {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  width: 50%;
  border: 1px solid;
}
.width > * {
  border: 1px solid;
}
.min-content {
  width: min-content;
  border: 2px dotted rgb(96, 139, 168);
}
.max-content {
  width: max-content;
  border: 2px dotted rgb(96, 139, 168);
}

.flex-basis {
  display: flex;
}

.flex-basis :first-child {
  width: 150px;
}

.flex-basis > * {
  flex: 0 0 auto;
}

/* EXAMPLE1 */
.ex1 {
  display: flex;
}
.ex1 > * {
  flex: 0 1 0;
}      
.ex2 {
  display: flex;
}
.ex2 > * {
  flex: 1 1 0;
}      
      

/* EXAMPLE3 */
.ex3 {
  display: flex;
}

.one {
  flex: 1 1 0;
}

.two {
  flex: 1 1 0;
}

.three {
  flex: 2 1 0;
}      


/* SHRINK1 */
.shrink1 {
  display: flex;
  width: 500px;
  border: 4px dashed;
  padding: 5px;
}
.shrink1 > * {
  flex: 0 0 auto;
  width: 200px;
}
/* SHRINK2 */
.shrink2 {
  display: flex;
  width: 500px;
  border: 4px dashed;
  padding: 5px;
}
.shrink2 > * {
  flex: 0 1 auto;
  width: 200px;
}


/* SHRINK3 */
.shrink3 {
  border: 4px dashed;

  width: 500px;
  display: flex;
}
.shrink3 > * {
  flex: 1 1 auto;
}


/* SHRINK4 */
.shrink4 {
  display: flex;
  border: 4px dashed;
  width: 500px;
}
.shrink4 > * {
  width: 200px;
}
.one1 {
  flex: 1 1 auto;
}
.two1 {
  flex: 1 0 auto;
}
.three1 {
  flex: 2 4 auto;
}
