code pre {
  background-color: burlywood;
}

.box > div {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
  width: 200px;
  height: 100%;
}

.box {
  display: flex;
  writing-mode: horizontal-tb;
}

.fullwidth {
  width: 100%;
}

/* FLEXBOX VS GRID LAYOUT */
.box1 {
  display: flex;
  flex-wrap: wrap;
}
.box1>* {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
  flex: 1 1 100px;
}
.box2 {
  display: grid;
  grid-template-columns:
    repeat(auto-fill, minmax(100px, auto));
}
.box2>* {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 4px;
}

th {
  padding: 10px;
}

th > div {
  background-color: silver;
}
